.info{
  padding: 0 5px;
}

.user-panel{
  .sub-info{
    font-size: 10px;
    white-space: normal !important;
  }
}

.nav-treeview{
  .nav-item{
    padding-left: 25px;
  }
}

.sidebar{
  overflow-x: hidden;
}
