<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

        <!-- Profile Image -->
        <div class="card card-yellow card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid"
                   src="{{user.employee.image}}"
                   alt="Edward">
            </div>

            <h3 class="profile-username text-center">{{user.employee.last_name}} {{user.employee.first_name}}</h3>

            <p class="text-muted text-center">{{user.employee.title}}</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Email</b> <a class="float-right">{{user.employee.email}}</a>
              </li>
              <li class="list-group-item">
                <b>Téléphone</b> <a class="float-right">{{user.employee.phone|priceFormat}}</a>
              </li>
              <li class="list-group-item">
                <b>Fixe</b> <a class="float-right">{{user.employee.ip_phone|priceFormat}}</a>
              </li>
              <li class="list-group-item">
                <b>Date de naissance</b> <a class="float-right">{{user.employee.birthday|dateFormat:false|limitTo:(user.employee.birthday|dateFormat:false).length-4}}</a>
              </li>
              <li class="list-group-item">
                <b>Localisation</b> <a class="float-right">{{user.employee.location}}</a>
              </li>
              <li class="list-group-item">
                <b>Supérieur Hiérachique</b> <a class="float-right">{{sup.last_name}} {{sup.first_name}}</a>
              </li>
              <li class="list-group-item">
                <b>Direction</b> <a class="float-right">{{direction.name}}</a>
              </li>
            </ul>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-8">
        <div class="card card-yellow card-outline">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item" (click)="state = 'new_suggestion'"><a class="nav-link text-dark" [ngClass]="{' bg-yellow': state == 'new_suggestion'}" href="#activity" data-toggle="tab">Nouvelle suggestion</a></li>
              <li class="nav-item" (click)="state = 'suggestion'"><a class="nav-link text-dark" [ngClass]="{' bg-yellow': state == 'suggestion'}" href="#timeline" data-toggle="tab">Mes suggestions</a></li>
              <li class="nav-item" (click)="state = 'info'"><a class="nav-link text-dark" [ngClass]="{' bg-yellow': state == 'info'}" href="#info" data-toggle="tab">Mes infos</a></li>
              <li class="nav-item" (click)="state = 'pass'"><a class="nav-link text-dark" [ngClass]="{' bg-yellow': state == 'pass'}" href="#pass" data-toggle="tab">Mot de passe</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="activity">
                <ngb-toast *ngIf="show" class="bg-danger" [autohide]="false" (hidden)="show=false">
                  <ng-template ngbToastHeader>
                    <strong class="mx-1">{{titre_toast}}</strong>
                  </ng-template>
                  {{message_toast}}
                </ngb-toast>
                <div class="form-group">
                  <label for="usernamea">Titre</label>
                  <input type="text" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" class="form-control form-control-border" id="usernamea" placeholder="Titre">
                </div>
                <div class="form-group">
                  <label for="namea">Contenu</label>
                  <textarea [(ngModel)]="contenu" [ngModelOptions]="{standalone: true}" class="form-control form-control-border" id="namea" placeholder="Contenu"></textarea>
                </div>
                <div class="btn btn-warning" (click)="saveSuggestion()">Enregistrer <span class="spinner-grow spinner-grow-sm"
                                                                                          style="vertical-align: inherit"
                                                                                          *ngIf="show_loading"
                                                                                          role="status" aria-hidden="true"></span></div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- Post -->
                <div class="post clearfix" *ngFor="let s of suggestions">
                  <div class="user-block">
                    <span class="usedrname">
                          <a>{{s.title}}.</a>
                          <a class="float-right btn-tool" (click)="deleteSuggestion(s)"><i class="fas fa-trash"></i></a>
                        </span>
                    <span class="description" style="margin-left: 0">Le {{s.created_at|dateFormat:true}}</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    {{s.description}}
                  </p>

                </div>
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->

              <!-- /.tab-pane -->
              <div class="tab-pane" id="info">
                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" class="form-control form-control-border" id="nom" placeholder="Titre">
                </div>
                <div class="form-group">
                  <label for="phone">Contenu</label>
                  <textarea [(ngModel)]="contenu" [ngModelOptions]="{standalone: true}" class="form-control form-control-border" id="phone" placeholder="Contenu"></textarea>
                </div>
                <div class="btn btn-warning" (click)="saveSuggestion()">Enregistrer <span class="spinner-grow spinner-grow-sm"
                                                                                          style="vertical-align: inherit"
                                                                                          *ngIf="show_loading"
                                                                                          role="status" aria-hidden="true"></span></div>
              </div>
              <!-- /.tab-pane -->

              <!-- /.tab-pane -->
              <div class="tab-pane" id="pass">
                <form [formGroup]="signupForm" (submit)="updatePassword()">

                  <div class="form-group">
                    <label for="current_password">Actuel mot de passe</label>
                    <input id="current_password" placeholder="Actuel mot de passe" formControlName="current_password" type="password" class="form-control">
                  </div>
                  
                  <div class="form-group">
                    <label for="password">Nouveau mot de passe</label>
                    <input id="password" placeholder="Nouveau mot de passe" formControlName="password" type="password" class="form-control">
                    <label class="text-danger" *ngIf="!signupForm.controls.password.valid && !signupForm.controls.password.pending && (signupForm.controls.password.dirty)">
                      Le mot de passe doit comporter au moins 8 caractères et doit contenir un chiffre, un caractère et un caractère spécial.
                    </label>
                  </div>

                  <div class="form-group">
                    <label for="password_confirmation">Actuel mot de passe</label>
                    <input id="password_confirmation" placeholder="Actuel mot de passe" formControlName="password_confirmation" type="password" class="form-control">
                    <label class="text-danger clearfix" *ngIf="!signupForm.controls.password_confirmation.valid && !signupForm.controls.password_confirmation.pending && (signupForm.controls.password_confirmation.dirty)">
                      Le mot de passe doit comporter au moins 8 caractères et doit contenir un chiffre, un caractère et un caractère spécial.
                    </label>
                    <label class="text-danger" *ngIf="signupForm.controls.password_confirmation.value!= '' && signupForm.controls.password_confirmation.value != signupForm.controls.password.value">
                      Les mots de passes sont différents
                    </label>
                  </div>
                  
                  <button [disabled]="signupForm.invalid" type="submit" class="btn btn-warning" (click)="updatePassword()">Enregistrer <span class="spinner-grow spinner-grow-sm"
                                                                                            style="vertical-align: inherit"
                                                                                            *ngIf="show_loading"
                                                                                            role="status" aria-hidden="true"></span></button>
                </form>

              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Succès</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{success_title}}.</p>
  </div>
</ng-template>
<button hidden class="btn btn-lg btn-outline-primary" id="btnModal" (click)="open(content)">Launch demo modal</button>
