:host ::ng-deep rect {
  fill: #000000;
}

:host ::ng-deep [data-n-id='1'] rect {
  fill: #750000;
}

:host ::ng-deep [data-n-id='4'] rect {
  fill: #750077;
}

:host ::ng-deep [data-n-id='3'] rect {
  fill: #754400;
}
