<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Liste des directions</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 300px;">
                <input type="text" name="table_search" [(ngModel)]="search_text" class="form-control float-right" placeholder="Recherche">

                <div class="input-group-append">
                  <button (click)="search()" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <div class="input-group-append">
                  <button routerLink="/admin/add-management" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
              <thead>
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Sigle</th>
                <th>Entité</th>
                <th>Créé le</th>
                <th>Modifié le</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let e of managements">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.acronym}}</td>
                <td>{{e.entity.name}}</td>
                <td>{{e.created_at}}</td>
                <td>{{e.updated_at}}</td>
                <td>
                  <button routerLink="/admin/add-management/{{e.id}}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button (click)="deleteManagement(e.id)" class="btn btn-primary btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
