<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-yellow">
      <div class="card-header text-center">
        <h1><img src="../../../assets/img/logo_03.png" class="logo" alt=""><b>Inside</b></h1>
      </div>
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="number" min="200000000" max="699999999" class="form-control" [(ngModel)]="phone" placeholder="Numéro flotte">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" [(ngModel)]="password" placeholder="Mot de passe">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-6">
            <button type="submit" class="btn btn-warning btn-block" (click)="login()">Me connecter
              <span class="spinner-grow spinner-grow-sm"
                    style="vertical-align: inherit"
                    *ngIf="show"
                    role="status" aria-hidden="true"></span>
            </button>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

</div>
