<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}
          <span class="spinner-grow spinner-grow-sm"
                style="vertical-align: inherit"
                *ngIf="show_spinnner"
                role="status" aria-hidden="true"></span>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/admin/list-management" class="text-dark">Liste des directions</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-outline card-yellow shadow">
          <!-- /.card-header -->
          <!-- form start -->
          <form>
            <div class="card-body">
              <div>
                <ngb-toast *ngIf="show" class="bg-danger" [autohide]="false" (hidden)="show=false">
                  <ng-template ngbToastHeader>
                    <strong class="mx-1">Erreur lors de l'enreigstrement</strong>
                  </ng-template>
                  {{message_toast}}
                </ngb-toast>
              </div>
              <div class="form-group">
                <label for="username">Nom</label>
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control form-control-border" id="username" placeholder="Nom">
              </div>
              <div class="form-group">
                <label for="name">Sigle</label>
                <input type="text" [(ngModel)]="acronym" [ngModelOptions]="{standalone: true}" class="form-control form-control-border" id="name" placeholder="Sigle">
              </div>
              <div class="form-group">
                <label for="direction">Entité
                  <span class="spinner-grow spinner-grow-sm"
                        style="vertical-align: inherit"
                        *ngIf="show_entity"
                        role="status" aria-hidden="true"></span>
                </label>
                <select class="custom-select form-control-border" [(ngModel)]="entity_id" [ngModelOptions]="{standalone: true}" id="direction">
                  <option *ngFor="let m of entities" value="{{m.id}}">{{m.name}}</option>
                </select>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button (click)="saveManagement()" class="btn btn-warning">Enregistrer
                <span class="spinner-grow spinner-grow-sm"
                      style="vertical-align: inherit"
                      *ngIf="show_loading"
                      role="status" aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Succès</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{success_title}}.</p>
  </div>
</ng-template>
<button hidden class="btn btn-lg btn-outline-primary" id="btnModal" (click)="open(content)">Launch demo modal</button>
