<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img src="../../../assets/img/logo_bvs.png" style="width: 100%">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Fils d'actualité</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis dolorem dolores eos facere in quia, recusandae repudiandae sint sit. Distinctio dolor hic molestias numquam officiis quibusdam recusandae, rerum voluptatem?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mot du CEO</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis dolorem dolores eos facere in quia, recusandae repudiandae sint sit. Distinctio dolor hic molestias numquam officiis quibusdam recusandae, rerum voluptatem?
          </p>
          <small>-Guillaume SARRA</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

  </div>
</div>
