<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Liste des notes
            </h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 300px;">
                <input type="text" name="table_search" [(ngModel)]="search_text" class="form-control float-right" placeholder="Recherche">

                <div class="input-group-append">
                  <button routerLink="/admin/add-newsletter" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="max-height: 650px">
            <div class="progress" *ngIf="show">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <table class="table table-head-fixed text-nowrap">
              <thead>
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Entité</th>
                <th>Direction</th>
                <th>Groupe</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let u of newsletters| filter:{ id:search_text, title: search_text, description: search_text, type: search_text}: false">
                <td>{{u.id}}</td>
                <td>{{u.title}}</td>
                <td>{{u.description}}</td>
                <td>Note de {{u.type}}</td>
                <td>{{u.newsletter_entities.length}}</td>
                <td>{{u.newsletter_directions.length}}</td>
                <td>{{u.newsletter_groups.length}}</td>
                <td>
                  <button routerLink="/admin/add-event/{{u.id}}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button (click)="deleteNewsletter(u.id)" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
