<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Nouvel employé</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/admin/list-user">Liste des employés</a></li>
          <li class="breadcrumb-item active">Nouvel employé</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Formulaire</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form [formGroup]="userForm" (ngSubmit)="saveUser()">
            <div class="card-body">
              <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control form-control-border" formControlName="username" id="username" placeholder="Nom d'utilisateur">
              </div>
              <div class="form-group">
                <label for="name">Nom(s)</label>
                <input type="text" class="form-control form-control-border" formControlName="first_name" id="name" placeholder="Nom">
              </div>
              <div class="form-group">
                <label for="prenom">Prénom(s)</label>
                <input type="text" class="form-control form-control-border" formControlName="last_name" id="prenom" placeholder="Prénom(s)">
              </div>
              <div class="form-group">
                <label for="title">Intitulé du poste</label>
                <input type="text" class="form-control form-control-border" formControlName="title" id="title" placeholder="Intitulé du poste">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control-border" formControlName="email" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="telephone">Téléphone</label>
                <input type="number" min="1" class="form-control form-control-border" formControlName="phone" id="telephone" placeholder="Téléphone">
              </div>
              <div class="form-group">
                <label for="ip_phone">Poste fixe</label>
                <input type="number" min="1" class="form-control form-control-border" formControlName="ip_phone" id="ip_phone" placeholder="Poste fixe">
              </div>
              <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text" class="form-control form-control-border" formControlName="location" id="ville" placeholder="Ville">
              </div>
              <div class="form-group">
                <label for="sup">Supérieur hiérachique</label>
                <select class="custom-select form-control-border" [(ngModel)]="sup_id" [ngModelOptions]="{standalone: true}" id="sup">
                  <option value="0">Aucun</option>
                  <option *ngFor="let e of employees" value="{{e.id}}">{{e.first_name}} {{e.last_name}} - {{e.title}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="direction">Direction</label>
                <select class="custom-select form-control-border" [(ngModel)]="direction_id" [ngModelOptions]="{standalone: true}" id="direction">
                  <option *ngFor="let m of managements" value="{{m.id}}">{{m.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-4">
                    <img [src]="imageSrc" *ngIf="imageSrc" style="width:100%">
                  </div>
                  <div class="col-8">
                    <label for="image">Image</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" (change)="onSelectImage($event)" class="custom-file-input" id="image">
                        <label class="custom-file-label">Choisir une image</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
