<div class="row">
  <div class="col-md-12">
    <div class="card card-outline card-yellow card-widget widget-user-2 shadow">
      <div class="card-body">
        <div class="widget-user-header" style="padding: 0">
          <div class="widget-user-image">
            <img class="img-circle" src="{{ceo.image}}" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Guillaume SARRA</h3>
          <h5 class="widget-user-desc">Chief Executor Officer</h5>
        </div>
        <p class="card-text">
          {{ceo.description}}
        </p>
      </div>
    </div>
  </div>
</div>
