<!-- Content Header (Page header) -->
<section class="content-header" *ngxPermissionsOnly="['add.group','edit.group']">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}
          <span class="spinner-grow spinner-grow-sm"
                style="vertical-align: inherit"
                *ngIf="show_spinnner"
                role="status" aria-hidden="true"></span>
        </h1>
      </div>
      <div class="col-sm-6" *ngIf="show_bread">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/admin/list-group" class="text-dark">Liste des groupes</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" *ngxPermissionsOnly="['add.group','edit.group']">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-outline card-yellow">
          <!-- /.card-header -->
          <!-- form start -->
          <form>
            <div class="card-body">
              <div>
                <ngb-toast *ngIf="show" class="bg-danger" [autohide]="false" (hidden)="show=false">
                  <ng-template ngbToastHeader>
                    <strong class="mx-1">Erreur lors de l'enreigstrement</strong>
                  </ng-template>
                  {{message_toast}}
                </ngb-toast>
              </div>
              <div class="form-group">
                <label for="username">Nom</label>
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control form-control-border" id="username" placeholder="Nom">
              </div>
              <div class="form-group">
                <label for="name">Description</label>
                <textarea [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control form-control-border" id="name" placeholder="Description"></textarea>
              </div>
              <div class="form-group" *ngIf="show_bread">
                <label for="direction">Proprietaire
                  <span class="spinner-grow spinner-grow-sm"
                        style="vertical-align: inherit"
                        *ngIf="show_employee"
                        role="status" aria-hidden="true"></span>
                </label>
                <select class="custom-select form-control-border" [(ngModel)]="owner" [ngModelOptions]="{standalone: true}" id="direction">
                  <option *ngFor="let m of employees" value="{{m.id}}">{{m.first_name}} {{m.last_name}} - {{m.title}}</option>
                </select>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button (click)="saveGroup()" class="btn btn-warning">Enregistrer
                <span class="spinner-grow spinner-grow-sm"
                      style="vertical-align: inherit"
                      *ngIf="show_loading"
                      role="status" aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-outline card-yellow">
          <!-- /.card-header -->
          <!-- form start -->
          <form>
            <div class="card-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <h5>Membres
                      <span class="spinner-grow spinner-grow-sm"
                            style="vertical-align: inherit"
                            *ngIf="show_employee"
                            role="status" aria-hidden="true"></span>
                    </h5>
                  </div>
                  <div class="col-sm-4 offset-2">
                    <input type="text" name="table_search" [(ngModel)]="search_text" class="form-control float-right" placeholder="Recherche">
                  </div>
                </div>
                <div style="max-height: 450px; overflow-y: scroll">
                  <div class="custom-control custom-checkbox"
                       *ngFor="let e of employees| filter:{ id:search_text, last_name: search_text, first_name: search_text}: false">
                    <input class="custom-control-input" [disabled]="owner==e.id" type="checkbox" id="customCheckbox{{e.id}}" checked="{{e.checked}}" (change)="test(e)" value="{{e.check}}">
                    <label for="customCheckbox{{e.id}}" class="custom-control-label">{{e.first_name}} {{e.last_name}} - {{e.title}}</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.right (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Succès</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{success_title}}.</p>
  </div>
</ng-template>
<button hidden class="btn btn-lg btn-outline-primary" id="btnModal" (click)="open(content)">Launch demo modal</button>
