@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~admin-lte/build/scss/adminlte';
//@import '~bootstrap/scss/mixins';

body{
  //background: #343a40;
  background: url(assets/img/bg_inside_low.png) no-repeat;
  background-size: cover;
}

.content-wrapper{
  background: transparent !important;
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before{
  border-color: #000;
  background-color: #000;

}

.main-sidebar{
  background: #1c1d1a !important;
}
