<div class="row">
  <div class="col-md-12">
    <div class="progress" *ngIf="show">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="card card-outline card-yellow shadow">
      <div class="card-body" *ngFor="let h of history">
        <h5 class="card-title">{{h.title}}</h5>
        <p class="card-text"><img src="{{h.image}}" style="max-width: 300px; float: left;" class="img-fluid rounded-start">{{h.description}}.</p>
      </div>
    </div>
  </div>
</div>

